.tudo{
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #121214;
    color: #fff;
}
.corpo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    justify-content: end;
    padding: 50px 50px 0 0;
}

header button{
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-image: url("../assets/img/close1.png");
    background-size: cover;
    border: none;
    cursor: pointer;

}

.form{
   display: grid;
   grid-gap: 10px; 
   
}

.form label, select, input{
    font-family: inherit;
}
.form label{
    font-size: 12px;

}
.div-form{
    display: grid;
}
.estado{
    color: #000;
}
select{
    height: 40px;
}


form .subtitulo{
    text-align: center;
    margin-bottom: 40px;
}

.corpo h1{
    text-align: center;
}

form label{
    color: #fff;
}

.label-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}


form input{
    height: 30px;

  
}

form label{
    font-size: 14px;
    margin-bottom: 5px;
}

form input:active,
form input:focus{
    
    border-color: #896CEA;
}

form button{
    margin-top: 30px;
    width: 100%;
    height: 40px;
    background-color: #896CEA;
    color: #fff;
    border: none;
    font-weight: 600;
    font-size: 16px;
}

form button:hover{
    transition: 0.5s;
    background-color: #fff;
    font-weight: 600;
    font-style: normal;
    color:#896CEA ;
    cursor: pointer;
}